@model Payment

<partial name="_Sidebar" />
<div class="container p-2">
    <h2 class="text-primary">Payment Details</h2>
</div>
<hr />

<table class="table table-bordered">
    <tr>
        <td><strong>Date Time:</strong></td>
        <td>@Model.Date</td>
    </tr>
    <tr>
        <td><strong>Payment Type:</strong></td>
        <td>@Model.Type</td>
    </tr>
    <tr>
        <td><strong>Employee:</strong></td>
        <td>@Model.Employee.FirstName @Model.Employee.LastName</td>
    </tr>
    <tr>
        <td width="15%"> <strong>Payment Price:</strong></td>
        <td>@Model.ThePrice</td>
    </tr>
    <tr>
        <td><strong>Description:</strong></td>
        <td>@Model.Description</td>
    </tr>
</table>
<br />
<a asp-controller="Payment" asp-action="Index" class="btn btn-light" style="width: 99%">
    Back to The Payment List
</a>