@model FuelAddition

<partial name="_Sidebar" />
<form method="post" asp-action="DeletePost">
    <input asp-for="Id" hidden />
    <br />
    <h2 class="text-primary">Are you sure?</h2>
    <p class="text-danger">You won't be able to revert this!</p>
    <table class="table tabel-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>
                    Feul Type
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Tank
                </th>
                <th>
                    Purchasing Price
                </th>
                <th>
                    Date
                </th>

        </thead>
        <tbody>

            <tr>
                <td width="20%">
                    @(Model?.FuelType?.Fuel_Type ?? "N/A")
                </td>
                <td width="20%">
                    @(Model?.QuantityAdded ?? 0)
                </td>
                <td width="20%">
                    @(Model?.Tank?.TankName ?? "N/A")
                </td>
                <td width="20%">
                    @(Model?.PurchasingFuelPrice ?? 0)
                </td>
                <td width="20%">
                    @(Model?.Date.ToString("yyyy-MM-dd HH:mm:ss") ?? "N/A")
                </td>
            </tr>



        </tbody>
    </table>
    <a asp-controller="FuelAddition" asp-action="Index" class="btn btn-light" style="width: 49%">
        Back to Additions List
    </a>
    <button type="submit" class="btn btn-danger" style="width:50%">Yes, delete it!</button>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />

    }
}